<label for="cars">User</label>
<br>
<select name="users" id="user"  style="width: 200px;">
  <option value="Arjun">Arjun</option>
  <option value="Rajesh">Rajesh</option>
  <option value="Kabir">Kabir</option>
  <option value="Nidhi">Nidhi</option>
</select>
<br><br>
<textarea eid="w3review" name="w3review" rows="3" cols="46" >
</textarea>
<br><br>
<button type="button" class="btn btn-primary" id="modal-action-button" (click)="actionFunction()">Update</button>&nbsp;
<button type="button" class="btn btn-success"  id="modal-cancel-button" (click)="closeModal()">Cancel</button> 